{# src/CoreBundle/Ressources/views/Core/header.html.twig #}

		<div id="header">
			{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
			    Connecté en tant que {{ app.user.username }}
			    -
			    <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
		  	{% else %}
		    	<a href="{{ path('fos_user_security_login') }}">Connexion</a>
		  	{% endif %}
			<h1>Altitude</h1>
			<div id="header_menu">
				<ul>
				    <li><a href="{{ path('altitude_core_homepage') }}">{{ 'Home'|trans }}</a></li>
				    <li><a href="{{ path('altitude_core_homepage') }}">{{ 'Menu2'|trans }}</a></li>
				    <li><a href="{{ path('altitude_core_homepage') }}">{{ 'Menu3'|trans }}</a></li>
				    <li><a href="{{ path('altitude_core_homepage') }}">{{ 'Menu4'|trans }}</a></li>
				    <li><a href="{{ path('altitude_core_homepage') }}">{{ 'Menu5'|trans }}</a></li>
				    <li><a href="{{ path('altitude_core_homepage') }}">{{ 'Menu6'|trans }}</a></li>
				</ul>
			</div>
		</div>